<%- contentFor('pageTitle') %>
Payment Cancelled

<%- contentFor('body') %>
<div class="max-w-md mx-auto my-12 p-6 bg-white rounded-lg shadow-md">
    <div class="text-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 mx-auto text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
        
        <%- include('./partials/title', { title: 'Payment Cancelled', description: 'Your payment has been cancelled.' }) %>
        
        <a href="/" class="mt-6 inline-block text-indigo-600 hover:text-indigo-800 hover:underline">
            Return to Home
        </a>
    </div>
</div>